<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="|${city} Weather|">Weather</title>
</head>
<body>
    <h1 th:text="|${city} Weather|">weather for city</h1>
    <p>
        <img th:src="@{${weatherIconLink}}" alt="" />
        <br/>
        <span th:text="|${weatherCondition} in ${city}|"> weathermain </span>
        <br/>
        <span th:text="|The weather in ${city} is ${weatherDesc}|">weather description</span>
        <br/>
        <span th:text="|The temperature in ${city} is ${weatherTemp} degree celsius|">weather temperature</span>
        <br/>
    </p>

</body>
</html>